# Dependências
node_modules/

# Build
dist/
dist-ssr/
*.local

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Env
.env
.env.local
.env.production

# Firebase
.firebase/
.firebaserc
firebase.json
firebase-debug.log
functions/
dataconnect/
dataconnect-generated/
src/dataconnect-generated/
seed_data.gql

# Cache
*.tsbuildinfo
